
// Bootstrap
@import 'bootstrap/scss/bootstrap';


main > .container {
    padding: 60px 15px 0;
}

.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
